/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: gray;
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer {
	height: 20vh;
	border: 2px solid black;
}

section {
	height: 30vh;
	width: 33.33333%;
	float: left;
	border: 2px solid black;
}

.bigBottom {
	width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
